.NAVIGATION {
    height: 100%;
    width: var(--menu-size);
    transition: left 0.25s linear;
    position: fixed;
    z-index: 1;
    top: var(--menubar-height);
    left: 0;
    overflow-x: hidden;
}

.CLOSED {
    left: calc(-1 * var(--menu-size));
    transition: left 0.25s linear;
}