.NAVIGATION {
   height: 100%;
   width: var(--menu-size);
   transition: left 0.25s linear;
   position: fixed;
   z-index: 10;
   top: var(--toolbar-height);
   left: 0;
   overflow-x: hidden;
   margin-top: var(--toolbar-height);
   background-color: var(--app-color-primary-background);
   color: var(--app-color-primary);
}

.CLOSED {
   left: calc(-1 * var(--menu-size));
   transition: left 0.25s linear;
}

.DISMISSIBLE {
   height: 100vh;
   width: var(--menu-size);
   transition: left 0.25s linear;
   /* position: absolute;
   z-index: 11;
   top: 0;
   left: 0; */
   top: 0px;
   overflow-x: hidden;
   margin: 0;
   transition: all 0.15s ease;
   z-index: 11;
}
.PERMANENT {
   height: 100vh;
   width: var(--menu-size);
   transition: left 0.25s linear;
   /* position: absolute;
   z-index: 11;
   top: 0;
   left: 0; */
   top: 0px;
   overflow-x: hidden;
   margin: 0;
   transition: all 0.35s ease;
}
.MODAL {
   height: 100vh;
   width: var(--menu-size);
   transition: left 0.25s linear;
   position: fixed;
   z-index: 11;
   top: 0;
   left: 0;
   overflow-x: hidden;
   margin: 0;
}
