.NAVIGATION {
    height: 100%;
    width: var(--menu-size);
    transition: left 0.25s linear;
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
}

.CLOSED {
    left: calc(-1 * var(--menu-size));
    transition: left 0.25s linear;
}