input,
select,
textarea {
   font: inherit;
   box-sizing: border-box;
   width: 100%;
   border: none;
   color: inherit;
   background-color: inherit;
   line-height: var(--line-height);
   height: var(--line-height);
}

textarea {
   min-height: 150px;
}

select[multiple] {
   margin-top: var(--line-height-large);
   line-height: unset;
   height: auto;
}

input:focus,
select:focus,
textarea:focus {
   outline: none;
}

input[type='checkbox'] {
   width: auto;
}

input[type='color'] {
   padding-left: 0;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button,
::-webkit-clear-button {
}

input[type='range'] {
   -webkit-appearance: none;
   width: 100%;
   height: 5px;
   border-radius: 5px;
   background: var(--app-color-primary-background-light);
   outline: none;
   -webkit-transition: 0.2s;
   transition: opacity 0.2s;
}

input[type='range']::-webkit-slider-thumb {
   -webkit-appearance: none;
   appearance: none;
   width: var(--line-height);
   height: var(--line-height);
   border-radius: 50%;
   background: var(--app-color-primary-background);
   cursor: pointer;
}

input[type='range']::-moz-range-thumb {
   width: var(--line-height);
   height: var(--line-height);
   border-radius: 50%;
   background: var(--app-color-primary-background);
   cursor: pointer;
}

component-icon {
   display: flex;
   align-items: center;
   justify-content: center;
}

input[type='datetime-local']::-webkit-calendar-picker-indicator,
input[type='date']::-webkit-calendar-picker-indicator,
input[type='month']::-webkit-calendar-picker-indicator,
input[type='week']::-webkit-calendar-picker-indicator {
   color: rgba(0, 0, 0, 0);
   opacity: 1;
   display: block;
   background: url(calendar_today.svg) no-repeat;
   width: 20px;
   height: 20px;
   border-width: thin;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
   -webkit-text-fill-color: #000;
   -webkit-box-shadow: 0 0 0px 1000px #fff inset;
   transition: background-color 5000s ease-in-out 0s;
}
