#top {
   position: fixed;
   width: calc(100%);
   height: var(--menubar-height);
   right: 0;
   z-index: 10;
   background-color: var(--app-color-primary-background);
   color: var(--app-color-primary);
}

#top.menuClosed {
   width: 100%;
}

#main {
   padding-top: var(--menubar-height);
   min-height: 100%;
}
#main.menuClosed {
   margin-left: 0;
}

@media screen and (min-width: 521px) {
   #main {
      transition: margin-left 0.25s linear;
      /* margin-left: var(--menu-size); */
   }

   #main.body-opacity{
      opacity: 0.5;
   }

   #main.menuClosed {
      margin-left: 0;
      transition: margin-left 0.25s linear;
      opacity: 1;
      background: #fff;
   }

   
}
