.LIST_ITEM_SLOT {
   display: grid;
   grid-template-rows: 1fr;
   grid-template-columns: 1fr;
}

.LIST_ITEM {
   cursor: pointer;
}

.LIST_ITEM:hover {
   background-color: var(--app-color-surface-background-light);
}
