:host,
* {
   box-sizing: border-box;
   color: inherit;
   background-color: inherit;
}
.BORDER {
   border-color: var(--app-color-surface-background);
}

slot {
   display: inline-block;
}

.THIN {
   border-width: thin;
}

.MEDIUM {
   border-width: 2px;
}

.THICK {
   border-width: 4px;
}

.ALL {
   border-style: solid;
}

.HORIZONTAL,
.TOP {
   border-top-style: solid;
}

.HORIZONTAL,
.BOTTOM {
   border-bottom-style: solid;
}

.VERTICAL,
.LEFT {
   border-left-style: solid;
}

.VERTICAL,
.RIGHT {
   border-right-style: solid;
}

.BOTTOM_SELECTED {
   border-bottom-style: solid;
   border-color: var(--app-color-primary);
}
