:host,
* {
   box-sizing: border-box;
   color: inherit;
   background-color: inherit;
}
.BORDER {
   border-color: var(--app-color-surface-background);
}

slot {
   display: inline-block;
}

.FULL_WIDTH {
   width: 100%;
}

.THIN {
   border-width: thin;
}

.MEDIUM {
   border-width: 2px;
}

.THICK {
   border-width: 4px;
}

.ALL {
   border-style: solid;
}

.ALL_ROUND {

}

.HORIZONTAL,
.TOP {
   border-top-style: solid;
}

.HORIZONTAL,
.BOTTOM {
   border-bottom-style: solid;
}

.VERTICAL,
.LEFT {
   border-left-style: solid;
}

.VERTICAL,
.RIGHT {
   border-right-style: solid;
}

.BOTTOM_SELECTED {
   border-bottom-style: solid;
   border-color: var(--app-color-primary-background);
}

.KEY_LIGHT{
   box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.AMBIENT_LIGHT{
   box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.COMBINED{
   box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);  
}