.ACCORDION_ITEM {
}

.ACCORDION_HEADER:hover {
}
.ACCORDION_HEADER {
   cursor: pointer;
}

component-typography {
   padding-left: var(--space-small);
}
component-icon {
   padding-right: var(--space-small);
}

.accordionContent.closed {
   display: none;
}
.accordionContent.open {
   display: initial;
}
