table, ::slotted(table) {
    border-spacing: 0;
    width: 100%;
}

td, th {
    vertical-align: center;
    padding: var(--space-small);
    box-sizing: border-box;
    text-align: left;
    border-bottom: 1px solid var(--app-color-surface-background);
    border-left: 1px solid var(--app-color-surface-background);
}

tr > td:last-of-type, th:last-of-type {
    border-right: 1px solid var(--app-color-surface-background);
}

th {
    border-top: 1px solid var(--app-color-surface-background);
    background-color: var(--app-color-surface-background-dark);
    color: var(--app-color);
}