.BUTTON {
   cursor: pointer;
   text-transform: uppercase;
   box-sizing: border-box;
   font-family: inherit;
   min-height: var(--line-height-large);
}

::slotted(.CONTAINED.selected),
.CONTAINED.selected,
::slotted(.CONTAINED:hover),
.CONTAINED:hover,
::slotted(.CONTAINED:active),
.CONTAINED:active {
   color: var(--app-color);
   background-color: var(--app-color-background-hover);
}

.TEXT {
   text-align: center;
   vertical-align: center;
   line-height: var(--line-height-large);
}

@media only screen and (orientation: portrait) {
   button,
   .btn {
      width: 100%;
   }
}
