.BUTTON {
   cursor: pointer;
   text-transform: uppercase;
   box-sizing: border-box;
   font-family: inherit;
   text-align: center;
   vertical-align: center;
   line-height: 48px;
}


.PRIMARY {
   background-color: var(--app-color-primary-background);
   color: var(--app-color-primary);
}
::slotted(.PRIMARY:hover),
.PRIMARY:hover,
::slotted(.PRIMARY:active),
.PRIMARY:active {
   background-color: var(--app-color-primary-background-dark);
   color: var(--app-color-primary-dark);
}

.SECONDARY {
   background-color: var(--app-color-secondary-background);
   color: var(--app-color-secondary);
}
::slotted(.SECONDARY:hover),
.SECONDARY:hover,
::slotted(.SECONDARY:active),
.SECONDARY:active {
   background-color: var(--app-color-secondary-background-dark);
   color: var(--app-color-secondary-dark);
}

@media only screen and (orientation: portrait) {
   button,
   .btn {
      width: 100%;
   }
}
