.BUTTON {
   cursor: pointer;
   text-transform: uppercase;
   box-sizing: border-box;
   font-family: inherit;
}


.CONTAINED {
   background-color: var(--app-color-primary);
   color: var(--app-color-on-primary);
}

.OUTLINED {
}

.TEXT {
}

@media only screen and (orientation: portrait) {
   button,
   .btn {
      width: 100%;
   }
}
