.topappbar {
    width: 100vw;
    display: grid;
    grid-template-rows: var(--menubar-height);
    grid-template-columns: auto auto auto;
    color: inherit;
    background-color: inherit;
}

.left {
    justify-self: start;
}
.center {
    justify-self: center;
}

.right {
    justify-self: end;
}

.prominent {

}

.left ,.center,.right {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}
