.navItem {
   cursor: pointer;
}

::slotted(.navItem.selected),
.navItem.selected,
::slotted(.navItem.hover),
.navItem:hover,
::slotted(.navItem.active),
.navItem:active {
   color: var(--app-color);
   background-color: var(--app-color-background-hover);
}
