slot {
   width: 100%;
   height: 100%;
}


.SUCCESS,
::slotted(.SUCCESS) {
   color: var(--app-color-on-success);
}

.ERROR,
::slotted(.ERROR) {
   color: var(--app-color-on-error);
}

.WARNING,
::slotted(.WARNING) {
   color: var(--app-error-on-warning);
}

.INFO,
::slotted(.INFO) {
   color: var(--app-color-on-info);
}

.ACTIVE,
::slotted(.ACTIVE) {
   color: var(--app-color-on-primary);
}

.BACKGROUND_ERROR {
   background-color: var(--app-color-error);
}

.BACKGROUND_WARNING {
   background-color: var(--app-error-warning);
}
